ul, ol, dl, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Arrow {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgb(166,166,166);	
}

.ArrowMixin {
	position: relative;
	padding-right: 21px;
	box-sizing: border-box;
}

.ArrowMixin:after {
	content: " ";
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgb(166,166,166);
	position: absolute;
	bottom: 8px;
	right: -3px;
}

/* Above this line is reusable classes */


body {
	margin: 0;	
	font-family: Arial, sans-serif;
	font-size: 14px;
}

div#topPromo a {
	background-image: url("images/PC_1x_FUN._CB278603061_.jpg");
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 55px;
	display: block;
	margin: 0;
} 

#nav {
	background-color: #232f3e;
	/*height: 99px;*/
}

#nav .top {
	position: relative;
	padding: 11px 425px 6px 150px;
}

#nav .top .logo {
	top: 0px;
	left: 0px;
	width: 150px;
	height: 50px;
	display: block;
	position: absolute;
	background-image: url("images/global-sprite_bluebeacon-32-2x-v1._CB295592522_.png");
	background-size: 350px auto;
	background-repeat: no-repeat;
	background-position: 17px -38px;
	overflow: hidden;
}

#nav .top .logo .amazon {
	text-indent: -9999px;
	display: block;
}

#nav .top .logo .prime {
	position: absolute;
	top: 30px;
	left: 93px;
	color: #48a3c6;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-decoration: underline;
}

#nav .top .logo .prime:hover {
	color: white;
}

#nav .top .ads {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 425px;
	height: 30px;
	background-color: lightgrey;
	color: red;
	font-size: 16px;
}

#nav .top .searchBar {
	position: relative;
	margin-left: 42px;
	padding-left: 46px;
	padding-right: 45px;
	height: 35px;
}

#nav .top .searchBar .deptDropdown {
	position: absolute;
	float: left; 
	top: 0px;
	left: 0px;
	width: 46.3438px;
	height: 100%;
	padding-top: 11px;
	padding-left: 11px;
	background-color: #f3f3f3;
	border-right: 1px solid lightgrey;
	box-sizing: border-box;
	border-radius: 4px 0px 0px 4px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: grey;
}

#nav .top .searchBar .deptDropdown .arrow {
	position: absolute;
	top: 16px;
	left: 29px;
}

#nav .top .searchBar .searchButton {
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	width: 45px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0px 4px 4px 0px;
	background-color: #febd69;
}

#nav .top .searchBar .searchButton .containerInSearchButton {
	height: 24px;
	width: 26px;
	margin: auto;
	background-image: url("images/global-sprite_bluebeacon-32-2x-v1._CB295592522_.png");
	background-size: 350px auto;
	background-repeat: no-repeat;
	background-position: -8px -289px;
}

#nav .top .searchBar .searchField {
	position: relative;
	display: block;
	width: 100%;
	height: 35px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: white;
}

#nav .bottom {
	position: relative;
	padding-left: 150px;
	padding-right: 525px;
	top: 0px;
	/*border-top: 1px solid white;*/
}

#nav .bottom .left {
	/*border: 1px solid red;*/
	display: block;
	position: absolute;
	bottom: 0px;
	left: 25px;
	width: 155px;
	/*height: 50px;*/
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 0px 0px 26px 0px;
}

#nav .bottom .left ul li.departments {
	/*border: 1px solid red;*/
	display: block;
	position: absolute;
	float: left;
	top: 0px;
	left: 1px;
	width: 150px;
	height: 50px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

#nav .bottom .left ul li a.departmentslink {
	color: white;
	text-decoration: none;
}

#nav .bottom .left ul li a.departmentslink .arrow {
	position: absolute;
	top: 7px;
	left: 91px;
}

#nav .bottom .right {
	/*border: 1px solid green;*/
	position: absolute;
	/*top: 0px;*/
	padding-bottom: 2px;
	bottom: 0px;
	right: 0px;
	color: red;
	font-size: 14px;
	font-weight: bold;
}

#nav .bottom .right ul li {
	padding: 0;
	display: inline-block;
	vertical-align: bottom;
}

#nav .bottom .right ul li.language {
	color: white;
	padding: 0px;
}

#nav .bottom .right ul li.nameAccount {
	/*top: 15px;
	left: 29px;*/
	color: white;
	padding: 0px;
}

#nav .bottom .right ul li a {
	border: 1px solid transparent;
	border-radius: 3px;
	display: block;
	padding: 10px 10px 2px 10px;
}

#nav .bottom .right ul li a:hover {
	border-color: #4f5965;
}

#nav .bottom .right ul li.language a {
	text-decoration: none;
	color: #ccc;
	font-weight: normal;
	font-size: 12px;
	padding: 9px 0px 0px 17px;
}

#nav .bottom .right ul li.language a div.ArrowMixin {
	padding-right: 10px;
	padding-bottom: 4px;
	display: inline-block;
}

#nav .bottom .right ul li.language a div.ArrowMixin:after {
	bottom: 10px;
	right: -3px;
}

#nav .bottom .right ul li.language a div span.languageCode {
	display: block;
}

#nav .bottom .right ul li.language a div span.globeImg {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 1px 0 0 1px;
	display: block;
	background-image: url("images/InternationalCustomerPreferencesNavDesktopAssets-icp_sprite-6b737a23dc2fdf9eef2fe592c2f05017215df7e7._V2_.png");
	background-size: 142px auto;
	background-repeat: no-repeat;
	background-position: -77px -24px;
}

#nav .bottom .right ul li.language a span.verticalBar {
	height: 29px;
	width: 1px;
	margin-left: 6px;
	margin-bottom: 5px;
	border-right: 1px solid #555;
	display: inline-block;
	vertical-align: bottom;
}

#nav .bottom .right ul li.helloAccount a {
	text-decoration: none;
	color: white;
	padding: 9px 24px 4px 10px;
}

#nav .bottom .right ul li.helloAccount a.ArrowMixin:after {
 right: 11px;
 bottom: 10px;
}

#nav .bottom .right ul li.helloAccount a p.hello {
	font-size: 12px;
	font-weight: normal;
	color: #ccc;
	margin: 0px;
}

#nav .bottom .right ul li.helloAccount a p.account {
	position: relative;
	margin: 0px;
	top: -1px;
}

#nav .bottom .right ul li.orders a {
	/*position: absolute;
	float: left;
	top: 28px;
	left: 255px;*/
	text-decoration: none;
	color: white;
	padding: 4px 11px 5px 10px;
}

#nav .bottom .right ul li.tryPrime a {
	/*position: absolute;
	float: left;
	top: 28px;
	left: 155.5px;*/
	text-decoration: none;
	color: white;
	padding: 4px 14px 5px 10px;
}

#nav .bottom .right ul li.tryPrime a div {
	padding-right: 10px;
}

#nav .bottom .right ul li.tryPrime a div.ArrowMixin:after {
	bottom: 5px;
}

#nav .bottom .right ul li.cart {
	padding-right: 7px;
}

#nav .bottom .right ul li.cart a {
	/*position: absolute;
	float: left;
	top: 0px;
	left: 315px;*/
	position: relative;
	padding: 22px 24px 5px 52px;
	text-decoration: none;
	color: white;
	/*border: 1px solid lightblue;*/
}

#nav .bottom .right ul li.cart a .cartImg {
	position: absolute;
	float: left;
	width: 48px;
	height: 50px;
	top: -5px;
	left: 2px;
	padding: 0;
	background-image: url("images/global-sprite_bluebeacon-32-2x-v1._CB295592522_.png");
	background-size: 350px auto;
	background-repeat: no-repeat;
	background-position: -2px -324px;
}

#nav .bottom .right ul li.cart a .cartCount {
	position: absolute;
	float: left;
	width: 48px;
	height: 50px;
	top: 6px;
	left: 28px;
	padding: 0;
	font-size: 16px;
	color: #f08804;
}

#nav .bottom .middle {
	/*border: 1px solid white;*/
	position: relative;
	padding: 21px 45px 26px 42px;
	top: 1px;
	/*height: 35px;*/
	height: 47px;
	overflow: hidden;
	box-sizing: border-box;
}

#nav .bottom .middle ul li {
	float: left;
	margin-bottom: 10px;
}
/*
#nav .bottom .middle ul li.history {
	left: 2px;
	position: relative;
}
*/

#nav .bottom .middle ul li a {
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #ccc;
	padding: 0 10px;
	display: block;
}

#nav .bottom .middle ul li a:hover {
	text-decoration: underline;
}

#nav .bottom .middle ul li:first-of-type a {
	padding-left: 0;
}

/*
#nav .bottom .middle ul li.history a.ArrowMixin {
	padding-right: 21px;
}

#nav .bottom .middle ul li.history a.ArrowMixin:after {
	top: 6px;
	right: 8px;
}
*/

#nav .bottom .middle ul li a.myAmazon {

}

#nav .bottom .middle ul li a.deals {

}

#nav .bottom .middle ul li a.registry {

}

#nav .bottom .middle ul li a.sell {

}

#nav .bottom .middle ul li a.help {

}






